# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Entorno virtual
# -------------------------
.venv/
venv/

# -------------------------
# Base de datos
# -------------------------
db.sqlite3
instance/

# -------------------------
# Migraciones (si se suben)
# -------------------------
# -------------------------
# Uploads (imágenes)
# -------------------------
static/uploads/

# -------------------------
# IDE / Sistema
# -------------------------
.vscode/
.DS_Store
Thumbs.db

# -------------------------
# Logs
# -------------------------
*.log
